#card-principal{
  border: 10px dashed rgb(7, 150, 233);
  border-radius: 40px;
}
#card-1{
    border-radius: 40px;
}
#card-2{
    border-radius: 40px;
}
#card-3{
    border-radius: 40px;
}
#card-4{
    border-radius: 40px;
}
#card-5{
    border-radius: 40px;
}
#tudo{
    background-colr: #F4F4F4;
}
#total{
    background-colr: #F3F3F3;
}
#card-principal:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#card-1:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#card-2:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#card-3:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#card-4:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#card-5:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#rodape-1{
    background-color: #485156;
}
#rodape-2{
    background-color: #485156;
}
#mudacor:hover{
    background-color: #3a88ec;
}
#mudacor{
    background-color: #ff3e81;
}
#mudacor-1{
    background-color: #ff3e81;
}
#mudacor-1:hover{
    background-color: #3a88ec;
}
#mudacor-2{
    background-color: #3a88ec;
}
#mudacor-2:hover{
    background-color: #ff3e81;
}
#mudacor-3{
    background-color: #3a88ec;
}
#mudacor-3:hover{
    background-color: #ff3e81;
}
#mudacor-4{
    background-color: #3a88ec;
}
#mudacor-4:hover{
    background-color: #ff3e81;
}
#mudacor-5{
    color:#3a88ec;
}
#mudacor-5:hover{
    color:#ff3e81;
}
#mudacor-6{
    background-color:#3a88ec;
}
#mudacor-6:hover{
    background-color:#ff3e81;
}
#mudacor-7{
    color:#3a88ec;   
}
#mudacor-7:hover{
    color:#ff3e81;
}
#mudacor-8{
    background-color:#ff3e81;
}
#mudacor-8:hover{
    background-color:#3a88ec; 
}
#mudacor-menu-1:hover{
    
}
#mudacor-menu-1:visited{

}
#cor-link{
    color:#a0b8c8;
}
#cor-link:hover{
    color:#eeeeee;
}