.navbar-brand{
    background-color: #011b47;
    margin-top: 1rem;
    width: 100%;
    height: 5rem;
}
a, a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.lista-nav{
    margin-top: -4rem;
    color: white;
    font-weight: bold;
    font-size: initial;
}

.col-md-4, .col-sm-6{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}
body{
    background-color: black;
}
.tela-um{
    /*height: 100vh;*/
    /*width: 100%;*/
    background-image: url("../images/mae-01.jpg") ;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed, scroll;
    padding-right: 0;
    padding-left: 0;
}
.title, .title-dois{
    color: #F6F6F6;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 5%;
    font-size: 55px;
    font-weight: bold;
}
.title-dois{
    color: #F6F6F6;
    margin-top: -5px;
}
.subtitle, .subtitle-dois{
    color: #F6F6F6;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
.btn{
    color: #F6F6F6;
    margin-top: 8px;
}
.btn-outline-warning{
    margin-left: 5px;
}

.secao {
    position: relative;
}


.menu{
    margin-top: -80px;
    margin-bottom: 30px;
}

.icone-scroll {
    /*position: absolute;*/
    /*bottom: 8em;*/
    width: 50px;
    height: 50px;
    /*left: 50%;*/
    /*margin-left: -25px;*/
    cursor: pointer;
}
.scroll {
    width: 15px;
    height: 15px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    display: inline-block;
    position: relative;
}
.scroll-next {
    transform: rotate(45deg);
    margin: 0 0 0 16.5px;
}

.scroll-next + .scroll-next {
    top: -15px;
    margin-top: 0;
}
.modal-sub-header{
    background-color: #f1f1f1;
}
.modal-header{
    background-color: #fafbfb;
}
.title-sobre{
    font-weight: bold;
    color: #011b47;
    text-align: center;
}
.title-modal-sobre{
    font-weight: bold;
    color: #011b47;
    font-size: small;
    text-align: center;
}
.title-text{
    font-size: small;
    color: #45556f;
}
.icon-nav{
    font-size: 1.5em;
}
.title-ranking{
    font-weight: bold;
    color: white;
    margin-top: 5rem;
}
.-sub-title-ranking{
    color: white;
    margin-top: 1rem;
}
.modal-content-ranking{
    background-color: black;
}
.imagem-ranking, .table{
    width: 60rem;
    align-self: center;
    background-color: #FFFFFF;
}
.div-menu{
    background-color: black;
}
.title-div-menu{
    color: #F6F6F6;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-top: 2rem;
}
.sub-title-div-menu{
    color: #F6F6F6;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}