body {
    background-color: #fafafa;
}
.imagem-um{
    /*width: 80%;*/
    /*height: 100%;*/
    margin-top: 25px;
}
nav{
    background-color: #fcfafb;
}
.linha-separa-nav{
    background-color: #00649e;
    border: 0;
    align: left;
    width: 100%;
}
.texto-inicial-title, .texto-inicial-title-dois, .texto-um-title{
    color: #283c5f;
    font-size: 40px;
    margin-bottom: auto;
    font-family: 'Lilita One', cursive;
}
.view, .view-apresentacao{
    background-color: hotpink ;
    border-color: hotpink;
    margin-top: 10px;
    height: 40px;
    border-radius: 30px;
    background-clip: padding-box;
    font-weight: bold;
}
.bloco-texto-um, .texto-banner-tres{
    margin-top: 5%;
}
.texto-inicial-paragarafo, .texto-um-paragrafo{
    font-family: 'Quicksand', sans-serif;
}
.texto-inicial-sub-title, .texto-um-sub-title{
    margin-bottom: auto;
    color: #4a4a4a;
}
.imagem-strategy{
    height: 50px;
    width: 50px;
}
.imagem-strategy-dois{
    height: 50px;
    width: 50px;
}
.col-strategy{
    text-align: center;
}
.texto-strategy{
    margin-left: 25px;
    color: #283c5f;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}
.texto-strategy-subtitle{
    margin-left: 25px;
    margin-top: -10px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.banner{
    margin-top: 35px;
}
.grupo-botao{
    margin-top: 6%;
}
.botao-block{
    height: 13%;
    width: 80%;
    text-align-all: center;
    background-color: #337ab6 ;
    border-color: #337ab6;
    font-weight: bold;
    margin-bottom: 5px;
}
.card-body{
    width: 80%;
    font-family: 'Quicksand', sans-serif;
}
.carousel-indicators{
    bottom: -40px;
}
.fluid{
    background-color: #f6f6f6;
}
.imagem-carousel{
    height: 100px;
    background-color: #f6f6f6;
}
.carousel-indicators li{
    background-color: #969696;
}
.carousel-item{
    margin-top: 1%;
}
.imagem-quatro{
    width: 90%;
    height: 90%;
}
.footer{
    background-color: #485156;
}
.modal-header{
    color: white;
    background-color: black;
}
.modal-body,.modal-footer{
    background-color: #f6f6f6;
}
.texto-form{
    color: #727274;
    font-weight: bold;
    font-size: smaller;
}
.close{
    color: #F6F6F6;
}
.card-title{
    text-align: center;
}
.card-body{
    align-self: center;
}
.botao-card, .botao-link{
    margin-top: 10px;
    height: 40px;
    border-radius: 30px;
    background-clip: padding-box;
    font-weight: bold;

}
.card-sub-title{
    color: #61cdfd;
    font-family: 'Lilita One', cursive;
    margin-top: -10px;
}
.card-sub-title-dois{
font-weight: bold
}
.card-text{
    color: black;
}
.card-preco{
    border-radius: 3.25rem;
    margin-bottom: 5px;
}
.principal{
    border: dashed;
    border-color: #61cdfd;
    margin-top: -1rem;
    /*height: 25rem;*/
}
.banner-container{
    margin-top: 10rem;
}
.label-block{
    background-color: #61cdfd;
    border-colorcolor:  #61cdfd;
    font-weight: bold;
    color: white;
    font-size: xx-small;
    width: 4rem;
    border-radius: 30px;
}
.contato{
    margin-left: 7rem;
}
.principal-dois{
    margin-top: -2rem;
}
.img-1, .img-2{
    margin-left: -3rem;
}
.img-3{
    margin-left: -1rem;
}
.subtitle-card{
    color: lightgrey;
    font-family: 'Lilita One', cursive;
    margin-top: -1rem;
}
.card-title-dois{
    text-align: center;
    color: #283c5f;
    font-family: 'Lilita One', cursive;
}
.card-title-text{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: small;
    font-weight: bold;
}
.card-title-link{
    color: #7db3f7;
    text-align: center;
    font-size: small;
    font-weight: bold;
    margin-top: 2rem;
}
footer{
    background-color: #485156;
}