.primarycolor {
    background-color: #bdc3c7
    
}

.textnav{
    font-weight: 700;
    font-size: 20px;
    color: black
}

.textetapa {
    font-weight: 500;
    font-size: 17px;
    color: black
}

.colorbody{
   
    background-color: #dfe6e9
}

html{
    scroll-behavior: smooth;
}

#containerHead {
    background-image: url(/imagens/imagemfundohead.png);
    width: auto;
    height: 1000px;
    background-size: cover;
    background-attachment: fixed, scroll;
    
}

#titleHead {
    color: #000;
    font-weight: 900;
    font-size: 30px;
}

#textHead {
    font-weight: 500;
    font-size: 25px;
}

#titleBody {

    color: #000;
    font-weight: 700;
    font-size: 45px;
    
}

#imgCode {
    background-image: url(/imagens/codeimg.jpeg);
    width: auto;
    height: 180px;
    background-size: cover;
    background-attachment: fixed, scroll;
}



@media only screen and (max-width: 600px) {
#hrMenu {
    border: 2px solid;
    color: white
}
#btnLogin {
    width: 150px;
}

#textHead {
    font-weight: 500;
    font-size: 20px;
}

}



