.card {
background: #fff;
border-radius: 2px;
display: inline-block;
height: 300px;
margin: 1rem;
position: relative;
width: 300px;
}
.card-1 {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-3 {
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-4 {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-5 {
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
html{
scroll-behavior: smooth;
}
.modal-backdrop {
z-index: 0;
width: auto;
}
#btnbanner{
height: 50px;
width: 290px;
border-radius: 100px;
font-size: 17px;
background-color: #ec407f;
font-weight: 800
}
#btn-login:hover {
background-color: #ec407f;
transition: 0s
}
.btn:hover, .btn-login {
background-color: #ec407f !important;
transition: 0s
}
.btnbtn:hover, .btn {
background-color: #347ab7 !important;
transition: 0s
}
.btnsales:hover, .btn {
background-color: #347ab7 !important;
transition: 0s
}
.btnduvidas:hover, .btn {
background-color: #347ab7 !important;
transition: 0s;

}
.imagemlogo{
transition: all 0.5s;
cursor: pointer;
}
.imagemlogo:hover{
-webkit-transform: scale(1.5);
transform: scale(1.5);
}
.headum {
text-align: justify;
font-size: 27px;
font-weight: 400;
line-height: 1.5;

}
.headdois {
text-align: left;
font-weight: 800;
line-height: 1 ;
font-size: 60px;
color: #303669;
text-decoration: underline
}
.modulosum{
text-align: justify;
font-size: 23px;
font-weight: 400;
line-height: 1;
padding-top: 50px;
padding-bottom: 20px
}
.headtres {
font-size: 18px; font-weight: 300; line-height: 1.5; text-align: justify; 
}
.modulodois {
text-align: justify;
font-size: 23px;
font-weight: 400;
line-height: 1;
padding-bottom: 20px;


}

.btnmodulos {
    text-align: center
}

.modulostres{
text-align: justify; font-weight: 800; line-height: 1 ;font-size: 45px; color: #303669; margin-bottom: 20px; text-decoration: underline
}
#colapseOne {
font-weight: 800; border-radius: 50px ;background-color: #3b88ec; height: 50px; font-size: 18px; width: 350px; 
}
#colapsedois {
font-weight: 800; border-radius: 50px ;background-color: #3b88ec; height: 50px; font-size: 18px; width: 350px;
}
#colapsetres {
font-weight: 800; border-radius: 50px ;background-color: #3b88ec; height: 50px; font-size: 18px; width: 350px;
}
#colapsequatro {
font-weight: 800; border-radius: 50px ;background-color: #3b88ec; height: 50px; font-size: 18px; width: 350px; 
}
#colapsecinco {
font-weight: 800; border-radius: 50px ;background-color: #3b88ec; height: 50px; font-size: 18px; width: 350px; 
}
.ourservices {
padding-top: 25px;
text-align: justify;
font-size: 22px;
font-weight: 400;
line-height: 1;
padding-bottom: 20px}
.ourservicesdois {
text-align: justify; font-size: 45px; font-weight: 800; color: #303669; line-height: 1; margin-bottom: 20px
}
.ourservicestres {
font-size: 20px; text-align: justify
}
.btnsales {
padding: 100%; border-radius: 25px; width: 10rem; ; font-weight: 800 ; background-color: #ec407f; 
}
.contatofooter {
font-size: 22px; font-weight: 400; line-height: 2; text-align: justify;
}
.contatofooterdois {
font-size: 40px; font-weight: 800; line-height: 1; margin-bottom: 20px; color: #303669; text-align: justify; text-decoration: underline
}
.contatofootertres {
font-size: 18px ; font-weight: 300; line-height: 1.5; margin-bottom: 20px; text-align: justify;
}
#btncontato{
    background-color: #ec407f ;border-radius: 25px; width: 300px; height: 50px; font-size: 20px; font-weight: 800
    }


@media screen and (max-width: 500px) {
#btn-login{
    text-align: center;
    width: 240px
}
#btnbanner{
    font-size: 15px;
    text-align: center;
    width: 100%
}
#colapseOne {
font-weight: 800; border-radius: 50px ;background-color: #3b88ec; height: 50px; font-size: 15px; width: 300px; 
}
#colapsedois {
font-weight: 800; border-radius: 50px ;background-color: #3b88ec; height: 50px; font-size: 15px; width: 300px
}
#colapsetres {
font-weight: 800; border-radius: 50px ;background-color: #3b88ec; height: 50px; font-size: 15px; width: 300px
}
#colapsequatro {
font-weight: 800; border-radius: 50px ;background-color: #3b88ec; height: 50px; font-size: 15px; width: 300px
}
#colapsecinco {
font-weight: 800; border-radius: 50px ;background-color: #3b88ec; height: 50px; font-size: 15px; width: 300px
}
.ourservices {
padding-top: 25px;
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1;
padding-bottom: 20px
}
.ourservicesdois {
text-align: center; font-size: 45px; font-weight: 800; color: #303669; line-height: 1; margin-bottom: 20px
}
.ourservicestres {
font-size: 20px; text-align: center
}
.btnsales {
border-radius: 25px; width: 100%;; height: 50px; ; font-weight: 800 ; background-color: #ec407f; 
}
.container-fluid {
width: 100%
}
.headum {

text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1;
padding-bottom: 20px
}
.headdois {
text-align: center;
font-weight: 800;
line-height: 1 ;
font-size: 40px;
color: #303669;
padding-bottom: 20px
}
.headtres {
font-size: 18px; font-weight: 300; line-height: 1.5; text-align: center;
}
.modulosum{
width: 300px;
text-align: center;
font-size: 23px;
font-weight: 400;
line-height: 1;
padding-bottom: 20px
}
.modulodois {
width: 300px;
text-align: center;
font-size: 23px;
font-weight: 400;
line-height: 1;
padding-bottom: 20px
}
.modulostres{
width: 300px; text-align: center; font-weight: 800; line-height: 1 ;font-size: 45px; color: #303669; margin-bottom: 20px
}
.btnmodulos {
width: 300px;
}
.imgmodulos {
width: 300px;
}
#rodape {
text-align: center
}
#rodapedois {
text-align: center
}
#redes {
width: 100%;
}
.contatofooter {
font-size: 22px; font-weight: 400; line-height: 2; text-align: center;
}
.contatofooterdois {
font-size: 40px; font-weight: 800; line-height: 1; margin-bottom: 20px; color: #303669; text-align: center; 
}
.contatofootertres {
font-size: 18px ; font-weight: 300; line-height: 1.5; margin-bottom: 20px; text-align: center;
}
#exempleModal{
    width: 100%
}
#btncontato{
background-color: #ec407f ;border-radius: 25px; width: 100%; height: 50px; font-size: 15px; font-weight: 800
}
};






