html{
    scroll-behavior: smooth;
    }

    #titleportifolio {
       padding-top: 80px;
        margin-bottom: 30px;
        max-width: 750px;
         padding: 20px;
    
        text-align: center
    }

    .fade
{
        
        opacity: 0.5;
}
.fade:hover
{
        opacity:1;
}

.image-fade-in-out-container {
    position: relative;
  }
  
  .image-fade-in-out {
    opacity: 0.3;
    transition: opacity 1s ease-in-out;
    margin-bottom: 1px solid color #eb9d37;
  }
  
  .image-fade-in-out:hover {
    opacity: 2.0;
    transition: opacity .55s ease-in-out;
  }
  
  .image-fade-in-out-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }




#headmom {
    background-image: url(/imagens/INDpa18a.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-attachment: fixed, scroll;
    
    
}


#containerUm {
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1140px;
    border-radius: 20px
    
}

 .colorprimary {
    color: #eb9d37
}

 #color2 {
    color: white;
}

div .backprimary {
    background-color: #eb9d37;
}

div .containerprimary {
    background-color: #eb9d37
}

 .colorblack {
    background-color: #0f0f15;
   
    
}

#portifolio {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-left: auto;

    height: 100%;

}
.scroll-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 1.2em;
    font-size: 22px;
    color: rgba(#fff, .5);
    border-radius: 2em;
    border: solid 2px;
    transition: .4s;
  }
  
  .scroll-icon:hover {
    background-color: rgba(#fff, .05);
    color: #fff;
  }
  
  .scroll-icon::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  
  @keyframes scroll-icon {
      0% { transform: translateY(-12px); opacity: 0; }
     30%, 70% { opacity: 1; }
    100% { transform: translateY(12px); opacity: 0; }
  }

  #inicial{
    background-image: url("imagens/hd.jpg");
    background-attachment: fixed;
    height: ;
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.8;
    
}
  



